.idea/*
!.idea/artlist-front.iml

.gitignore # Ignore the hand that feeds!
 
# used for CI to understand which files was modified inside PR
.git-diff-files

junit.xml 

**/node_modules
**/assets
**/assets/*
**/assets/js/*
**/assets/js
**/.docusaurus

**/dist

**/build

**/coverage

**/.husky

**/.history

**/yarn-error.log

**/tsconfig.tsbuildinfo
**/tsconfig.*.tsbuildinfo

**/.DS_Store
**/package-lock.json

build-storybook.log
/.run/

ci-artifacts
csr-artifacts